:host::ng-deep{

    p.about-us{
        border-radius: 10px;
        text-align: justify;
    }
    
    .panel.card.accordionClass{
        .panel-heading.card-header.panel-enabled{
            background-color: aliceblue !important;
        }
    }
    
}