<section>
    <div class="container-fluid">
        <div class="row">
            <h3 style="color: #ED952B; font-weight: bold;" class="text-center mb-0">Customer Details</h3>
        </div>
        <div class="row justify-content-end my-2 me-2">
            <button class="btn details-btn w-auto me-1" [disabled]="selectedRows.length == 0" (click)="openModal(template)">Link To Tour</button>
            <button class="btn details-btn w-auto" (click)="addCustomerForm()">
                {{ showCustomerForm ? 'Cancel' : 'Add Customer'}}
            </button>
        </div>
    </div>


    
   
    <div class="content d-flex justify-content-center">
        <ag-grid-angular
            style="width: 100%; height: 550px;"
            class="ag-theme-material customerGrid border border-1 mx-3"
            [rowData]="rowData"
            [columnDefs]="colDefs"
            (gridReady)="onGridReady($event)"
            [defaultColDef]="defaultColDef"
            [autoSizeStrategy]="autoSizeStrategy"
            rowSelection='multiple'
            [suppressRowClickSelection]="true"
            [rowMultiSelectWithClick]="true"
            (selectionChanged)="onSelectionChanged()"
            [pagination]="true"
            [paginationPageSize]="paginationPageSize"
            [paginationPageSizeSelector]="paginationPageSizeSelector"
            [paginationNumberFormatter]="paginationNumberFormatter"
        >
        </ag-grid-angular>
        <div class="container-fluid customerForm" [ngStyle]="showCustomerForm ? {'width' : '35%', 'display':'block'} : {}">
            <form [formGroup]="customerDetails" (ngSubmit)="onSubmit()">
                <div class="form-floating">
                    <input class="form-control" type="text" name="name" id="name" placeholder="Name" formControlName="name">
                    <label class="form-label" for="name">Name</label>
                </div>
                
                <div class="form-floating">
                    <select class="form-select" id="floatingSelect" aria-label="Floating label select example" formControlName="gender">
                    <option hidden value selected>Gender</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                    </select>
                    <label for="floatingSelect">Select Gender</label>
                </div>
                
                <div class="form-floating">
                    <input class="form-control" type="tel" name="phone" id="phone" formControlName="phone" placeholder="Phone Number">
                    <label class="form-label" for="phone">Phone Number</label>     
                </div>       
                
                <div class="form-floating">
                    <textarea class="form-control" rows="2" placeholder="Address" id="address" formControlName="address"></textarea>
                    <label for="address">Address</label>
                </div>
                
                <div class="form-floating">
                    <input class="form-control" type="number" name="aadhaar" id="aadhaar" minlength="12" maxlength="12" formControlName="aadhaar" placeholder="Aadhaar">
                    <label class="form-label" for="aadhaar">Aadhaar</label>
                </div>
                
                <div class="form-floating">
                    <input class="form-control" type="date" name="dob" id="dob" placeholder="Date Of Birth" formControlName="dob">
                    <label class="form-label" for="dob">Date Of Birth</label>
                </div>
                
                <button type="submit" class="details-btn btn" [disabled]="!customerDetails.valid">Submit</button>
                <button type="reset" class="btn btn-secondary ms-1">Reset</button>
            </form>
        </div>
    </div>
</section>


<ng-template #template>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Link Customers To Tour</h4>
      <button type="button" class="close btn-close pull-right" aria-label="Close" (click)="closeModal()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
      </button>
    </div>
    <div class="modal-body w-75 d-flex flex-column align-self-center">
        <form #linkCustomersForm="ngForm" (ngSubmit)="onSubmitLinkCustomers(linkCustomersForm)">
        <div class="mb-3">
            <label for="floatingSelect">Tour</label>
            <select name="tour" required ngModel class="form-select" id="floatingSelect" aria-label="Floating label select example">
            <option hidden value selected>Select Tour</option>
            <option value="Kashi">Kashi</option>
            <option value="Gujarath">Gujarath</option>
            </select>
        </div>

        <div class="mb-3">
            <label for="floatingSelect">Date</label>
            <select name="date" required ngModel class="form-select" id="floatingSelect" aria-label="Floating label select example">
            <option hidden value selected>Select Date</option>
            <option value="01/03/2024">01/03/2024</option>
            <option value="01/03/2024">01/03/2024</option>
            </select>
        </div>


        <div class="row">
            <button type="submit" class="btn details-btn col w-auto" [disabled]="!linkCustomersForm.valid">Link</button>
            <button class="btn btn-secondary col w-auto ms-1"  (click)="closeModal()">Cancel</button>
        </div>
    </form>
    </div>
</ng-template>

