<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <div class="row" style="color: black; width: 100%;">
        <ul class="nav">
          <li class="nav-item" style="width: 40%;">
            <a class="nav-link" href="#">Sri LaxmiNarshima Tours</a>
          </li>
          <div style="display: flex; width:60%;     justify-content: flex-end;">
            <li class="nav-item">
              <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">All Packages</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <!-- <li class="nav-item">
              <button type="button" class="btn btn-dark">Login</button>
            </li>
            <li class="nav-item">
              <button type="button" class="btn btn-dark">SignUp</button>
            </li> -->
          </div>
        </ul>
    </div>
  </div>
</nav>

<carousel [noPause]="false">
  <slide>
    <img src="../assets/images/download (1).jpg" alt="first slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <h3>First slide label</h3>
      <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
    </div>
  </slide>
  <slide>
    <img src="../assets/images/download.jpg" alt="second slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <h3>Second slide label</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
  </slide>
  <slide>
    <img src="../assets/images/images.jpg" alt="third slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <h3>Third slide label</h3>
      <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
    </div>
  </slide>
</carousel>
