<section class="text-dark">
  <carousel [noPause]="false">
    <slide>
      <img src="../assets/images/download (1).jpg" class="carousel-img" alt="first slide" style="display: block; width: 100%;">
      <div class="carousel-caption d-none d-md-block">
        <h3>First slide label</h3>
        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
      </div>
    </slide>
    <slide>
      <img src="../assets/images/download.jpg" class="carousel-img" alt="second slide" style="display: block; width: 100%;">
      <div class="carousel-caption d-none d-md-block">
        <h3>Second slide label</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </slide>
    <slide>
      <img src="../assets/images/images.jpg" class="carousel-img" alt="third slide" style="display: block; width: 100%;">
      <div class="carousel-caption d-none d-md-block">
        <h3>Third slide label</h3>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
      </div>
    </slide>
  </carousel>

<div class="container-fluid mt-3">
    <div class="row text-center">
      <h4>Up Comming Yatra's</h4> 
    </div>
    <div class="row pb-3 row-cols-2 row-cols-md-3 row-cols-lg-4 g-3 row-card row-card-upcoming">
      <div class="col">
        <div class="card h-100">
          <img src="../../assets/images/kashi.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">kashi</h5>
            <h6 class="card-subtitle mb-2 text-muted">Dt: 08/02/2023</h6>
            <!-- <p class="card-text text-truncate">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
            <div class="d-flex text-center" style="flex-direction:column;">
              <a type="button" class="viewmore mb-3 ms-2  text-end">Read more>></a>
              <button type="button" class="btn btn btn-success">Get A Quote</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="../../assets/images/dwarka.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Gujarath</h5>
            <h6 class="card-subtitle mb-2 text-muted">Dt: 08/02/2023</h6>
            <!-- <p class="card-text text-truncate">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
            <div class="d-flex text-center" style="flex-direction:column;">
              <a type="button" class="viewmore mb-3 ms-2  text-end">Read more>></a>
              <button type="button" class="btn btn btn-success">Get A Quote</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="../../assets/images/murdeshwar.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Karnataka</h5>
            <h6 class="card-subtitle mb-2 text-muted">Dt: 08/02/2023</h6>
            <!-- <p class="card-text text-truncate">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
            <div class="d-flex text-center" style="flex-direction:column;">
              <a type="button" class="viewmore mb-3 ms-2  text-end">Read more>></a>
              <button type="button" class="btn btn btn-success">Get A Quote</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="../../assets/images/rameshwaram.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Rameshwaram</h5>
            <h6 class="card-subtitle mb-2 text-muted">Dt: 08/02/2023</h6>
            <!-- <p class="card-text text-truncate">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
            <div class="d-flex text-center" style="flex-direction:column;">
              <a type="button" class="viewmore mb-3 ms-2  text-end">Read more>></a>
              <button type="button" class="btn btn btn-success">Get A Quote</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="../../assets/images/s.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Nepal</h5>
            <h6 class="card-subtitle mb-2 text-muted">Dt: 08/02/2023</h6>
            <!-- <p class="card-text text-truncate">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
            <div class="d-flex text-center" style="flex-direction:column;">
              <a type="button" class="viewmore mb-3 ms-2 text-end">Read more>></a>
              <button type="button" class="btn btn btn-success">Get A Quote</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="row">
      <span class="text-end my-1">See More</span>
    </div> -->
</div>

<div class="container-fluid mt-3">
  <div class="row text-center">
    <h4>Our Packages</h4> 
  </div>
  <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 g-3 row-package">
    <div class="col">
      <div class="card h-100" style="cursor: pointer;" [routerLink]="['/packages','kashi']">
        <img src="../../assets/images/kashi.jpg" class="card-img h-100" alt="...">
        <div class="card-img-overlay d-flex align-items-end justify-content-start ps-1 pb-1 ps-1 pb-1">
          <h6 class="card-title package-title">kashi</h6>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100" style="cursor: pointer;" [routerLink]="['/packages','gujarath']">
        <img src="../../assets/images/dwarka.jpg" class="card-img h-100" alt="...">
        <div class="card-img-overlay d-flex align-items-end justify-content-start ps-1 pb-1">
          <h6 class="card-title package-title">Gujarath</h6>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100" style="cursor: pointer;" [routerLink]="['/packages','chardham']">
        <img src="../../assets/images/kedarnath.jpg" class="card-img h-100" alt="...">
        <div class="card-img-overlay d-flex align-items-end justify-content-start ps-1 pb-1">
          <h6 class="card-title package-title">Chardham</h6>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100" style="cursor: pointer;" [routerLink]="['/packages','rameshwaram']">
        <img src="../../assets/images/rameshwaram.jpg" class="card-img h-100" alt="...">
        <div class="card-img-overlay d-flex align-items-end justify-content-start ps-1 pb-1">
          <h6 class="card-title package-title">Rameshwaram</h6>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100" style="cursor: pointer;" [routerLink]="['/packages','karnataka']">
        <img src="../../assets/images/murdeshwar.jpg" class="card-img h-100" alt="...">
        <div class="card-img-overlay d-flex align-items-end justify-content-start ps-1 pb-1">
          <h6 class="card-title package-title">Karnataka</h6>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt-3">
  <div class="row text-center">
    <h5>About US</h5> 
  </div>
  <div style="background-color: aliceblue;">
      <p class="about-us pb-0 mb-0" >
        <span>The Char Dham (meaning: four abodes) is a set of four pilgrimage sites in India.[1] It is believed that visiting these sites helps achieve moksha (salvation). The four Dhams are, Badrinath, Dwarka, Puri and Rameswaram. It is believed that every Hindu should visit the Char Dhams during one's lifetime. The Char Dham as defined by Adi Shankaracharya consists of four Hindu pilgrimage sites.[2] These main 'dhamas' are the shrines of Lord Vishnu and Rameshwaram is a shrine of lord Shiva. All the 'dhamas' are related to four epochs,(1) Dham of Satyuga- Badrinath, Uttarakhand (2) Dham of Tretayuga -Rameswaram, Tamil Nadu (3) Dham of Dwaparayuga - Dvaraka, Gujarat (4) Dham of Kaliyuga - Jagannatha Puri, Odisha.
        Another small circuit in Uttarakhand of four pilgrimage sites-Yamunotri, Gangotri, Kedarnath, and Badrinath is referred to as Chota Char Dham which is locally popular in North India...
        </span>
      </p>
      <!-- <div> -->
        <a class="ellipsis d-flex justify-content-end pt-0 pe-2 pb-2" style="cursor: pointer;" routerLink="/about">Read More</a>
      <!-- </div> -->
  </div>
  
</div>

<div class="row container-fluid text-center my-2">
  <div class="col d-md-none">
    <h6 style="font-size: 20px; text-decoration: underline;">Follow us On</h6>
    <a target="_blank" href="https://www.facebook.com/srilaxminarsimhatours">
      <fa-icon class="social-media-icons" [icon]="faFacebookSquare"></fa-icon>
    </a><a target="_blank" href="https://www.instagram.com/srilaxminarsimhatours">
      <fa-icon class="social-media-icons" [icon]="faInstagram"></fa-icon>
    </a><a target="_blank" href="https://api.whatsapp.com/send?phone=9294000040">
      <fa-icon class="social-media-icons" [icon]="faWhatsapp"></fa-icon>
    </a>
  </div>
</div>
</section>