.calender-icon{
    height: 15px;
    width: 15px;
    vertical-align: text-top;
}

.header-info{
    border-bottom: 1px solid;
}

.card-text{
    letter-spacing: 0.19px;
    color: #707070;
}

.details-btn{
    background: #ED952B 0% 0% no-repeat padding-box !important;
    box-shadow: 0px 3px 6px #00000087 !important;
    border-radius: 13px !important;
    color: #FFFFFF !important;
}

.details-btn:hover, .details-btn:active{
    background: #ED952B 0% 0% no-repeat padding-box !important;
    color: #FFFFFF !important;
    border: 1px solid #ED952B !important;
}

.card{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000047;
    opacity: 1;
}

.card-title{
    h5{
        text-align: left;
        font: normal normal bold 24px/32px Roboto;
        letter-spacing: 0px;
        color: #646464;
    }

    .form-text{
        font: normal normal medium 17px/22px Roboto;
        letter-spacing: 0px;
        color: #818181E3;
    }

}

.price{
    text-align: left;
    font-family: Roboto;
    font-size: 30px;
    letter-spacing: 0px;
    color: #555555E3;
}

.ourpackage-card{
    background-image: url('/assets/images/image.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;

    height: calc(100vw / 2.5);
    min-height: calc(100vw / 2.5);
    max-height: calc(100vw / 2.5);

    .card-body .row{
        position: relative;
        top: 70%;
    }
    
}

.card-group{
    flex-flow: wrap ;
    overflow-x: auto;
}

.card-img-top{
    height: 125px;
}

.viewmore-btn{
    width: 30%;
}

.bg-image{
    background-image: linear-gradient(to bottom, #000000ba, transparent), url("/assets/images/image.png");
    min-height: 350px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.filter-container{
    position: relative;
    height: 168px;
    top: 460px;
    border: 1px solid #707070;
    opacity: 1;
  
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000066;
    border-radius: 4px;
}

#destinationselector{
    background-image: url("/assets/images/location.png");
    background-repeat: no-repeat;
    background-position: 95%;
}

@media (min-width: 576px) { 
    .card, .ourpackage-card{
        width: calc(100vw / 2.5);
        min-width: calc(100vw / 2.5);
        max-width: calc(100vw / 2.5);
    }

    .ourpackage-card{
        height: calc(100vw / 4);
        min-height: calc(100vw / 4);
        max-height: calc(100vw / 4);

        .card-body .row{
            position: relative;
            top: 75%;
        }
    }
    
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .card, .ourpackage-card{
        width: calc(100vw / 3);
        min-width: calc(100vw / 3);
        max-width: calc(100vw / 3);
    }

    .row-upcoming-section{
        margin-top: 6rem !important;
    }

    .ourpackage-card{
        height: calc(100vw / 6);
        min-height: calc(100vw / 6);
        max-height: calc(100vw / 6);
    }

    .viewmore-btn{
        width: 15%;
    }

    .bg-image{
        min-height: 550px;
    }

 }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
    .card, .ourpackage-card{
        width: calc(100vw / 3);
        min-width: calc(100vw / 3);
        max-width: calc(100vw / 3);
    }

    .ourpackage-card{
        height: calc(100vw / 6);
        min-height: calc(100vw / 6);
        max-height: calc(100vw / 6);

        .card-body .row{
            position: relative;
            top: 80%;
        }
    }

    .viewmore-btn{
        width: 10%;
    }
 }

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 
    .card, .ourpackage-card{
        width: calc(100vw / 4);
        min-width: calc(100vw / 4);
        max-width: calc(100vw / 4);
    }

    .ourpackage-card{
        height: calc(100vw / 7);
        min-height: calc(100vw / 7);
        max-height: calc(100vw / 7);
    }

    .viewmore-btn{
        width: 9%;
    }
 }

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) { 
    .card, .ourpackage-card{
        width: calc(100vw / 5);
        min-width: calc(100vw / 5);
        max-width: calc(100vw / 5);
    }

    .ourpackage-card{
        height: calc(100vw / 8);
        min-height: calc(100vw / 8);
        max-height: calc(100vw / 8);
    }
 }

