<section class="text-dark">
  <div class="container-fluid mt-5">
      <div class="row text-center">
        <h6 style="font-size: 25px !important;">UPCOMING <span style="color: #ED952B;">YATRA'S</span> </h6> 
      </div>

      <div class="card-group gap-5 justify-content-center">
        <div class="card">
          <img src="/assets/images/image.png" class="card-img-top" alt="...">
          <div class="card-body">
            <div class="row header-info">
              <div class="col">
                <span class="card-title">
                  <h5 class="m-0">Karnataka</h5>
                  <small class="form-text"><img src="/assets/images/calender.png" class="calender-icon"> 26/12/2023</small>
                </span>
              </div>
              <div class="col text-end align-self-end">
                $15000/-
              </div>
            </div>
            <p class="card-text pt-3">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <a href="#" class="btn btn-primary">Details</a>
          </div>
        </div>

        <div class="card">
          <img src="/assets/images/image.png" class="card-img-top" alt="...">
          <div class="card-body">
            <div class="row header-info">
              <div class="col">
                <span class="card-title">
                  <h5 class="m-0">Karnataka</h5>
                  <small class="form-text"><img src="/assets/images/calender.png" class="calender-icon"> 26/12/2023</small>
                </span>
              </div>
              <div class="col text-end align-self-end">
                $15000/-
              </div>
            </div>
            <p class="card-text pt-3">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <a href="#" class="btn btn-primary">Details</a>
          </div>
        </div>

        <div class="card">
          <img src="/assets/images/image.png" class="card-img-top" alt="...">
          <div class="card-body">
            <div class="row header-info">
              <div class="col">
                <span class="card-title">
                  <h5 class="m-0">Karnataka</h5>
                  <small class="form-text"><img src="/assets/images/calender.png" class="calender-icon"> 26/12/2023</small>
                </span>
              </div>
              <div class="col text-end align-self-end">
                $15000/-
              </div>
            </div>
            <p class="card-text pt-3">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <a href="#" class="btn btn-primary">Details</a>
          </div>
        </div>

        <div class="card">
          <img src="/assets/images/image.png" class="card-img-top" alt="...">
          <div class="card-body">
            <div class="row header-info">
              <div class="col">
                <span class="card-title">
                  <h5 class="m-0">Karnataka</h5>
                  <small class="form-text"><img src="/assets/images/calender.png" class="calender-icon"> 26/12/2023</small>
                </span>
              </div>
              <div class="col text-end align-self-end">
                $15000/-
              </div>
            </div>
            <p class="card-text pt-3">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <a href="#" class="btn btn-primary">Details</a>
          </div>
        </div>

        <div class="card">
          <img src="/assets/images/image.png" class="card-img-top" alt="...">
          <div class="card-body">
            <div class="row header-info">
              <div class="col">
                <span class="card-title">
                  <h5 class="m-0">Karnataka</h5>
                  <small class="form-text"><img src="/assets/images/calender.png" class="calender-icon"> 26/12/2023</small>
                </span>
              </div>
              <div class="col text-end align-self-end">
                $15000/-
              </div>
            </div>
            <p class="card-text pt-3">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <a href="#" class="btn btn-primary">Details</a>
          </div>
        </div>

        <div class="card">
          <img src="/assets/images/image.png" class="card-img-top" alt="...">
          <div class="card-body">
            <div class="row header-info">
              <div class="col">
                <span class="card-title">
                  <h5 class="m-0">Karnataka</h5>
                  <small class="form-text"><img src="/assets/images/calender.png" class="calender-icon"> 26/12/2023</small>
                </span>
              </div>
              <div class="col text-end align-self-end">
                $15000/-
              </div>
            </div>
            <p class="card-text pt-3">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <a href="#" class="btn btn-primary">Details</a>
          </div>
        </div>

        <div class="card">
          <img src="/assets/images/image.png" class="card-img-top" alt="...">
          <div class="card-body">
            <div class="row header-info">
              <div class="col">
                <span class="card-title">
                  <h5 class="m-0">Karnataka</h5>
                  <small class="form-text"><img src="/assets/images/calender.png" class="calender-icon"> 26/12/2023</small>
                </span>
              </div>
              <div class="col text-end align-self-end">
                $15000/-
              </div>
            </div>
            <p class="card-text pt-3">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <a href="#" class="btn btn-primary">Details</a>
          </div>
        </div>

        <div class="card">
          <img src="/assets/images/image.png" class="card-img-top" alt="...">
          <div class="card-body">
            <div class="row header-info">
              <div class="col">
                <span class="card-title">
                  <h5 class="m-0">Karnataka</h5>
                  <small class="form-text"><img src="/assets/images/calender.png" class="calender-icon"> 26/12/2023</small>
                </span>
              </div>
              <div class="col text-end align-self-end">
                $15000/-
              </div>
            </div>
            <p class="card-text pt-3">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <a href="#" class="btn btn-primary">Details</a>
          </div>
        </div>

        <div class="card">
          <img src="/assets/images/image.png" class="card-img-top" alt="...">
          <div class="card-body">
            <div class="row header-info">
              <div class="col">
                <span class="card-title">
                  <h5 class="m-0">Karnataka</h5>
                  <small class="form-text"><img src="/assets/images/calender.png" class="calender-icon"> 26/12/2023</small>
                </span>
              </div>
              <div class="col text-end align-self-end">
                $15000/-
              </div>
            </div>
            <p class="card-text pt-3">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <a href="#" class="btn btn-primary">Details</a>
          </div>
        </div>

        <div class="card">
          <img src="/assets/images/image.png" class="card-img-top" alt="...">
          <div class="card-body">
            <div class="row header-info">
              <div class="col">
                <span class="card-title">
                  <h5 class="m-0">Karnataka</h5>
                  <small class="form-text"><img src="/assets/images/calender.png" class="calender-icon"> 26/12/2023</small>
                </span>
              </div>
              <div class="col text-end align-self-end">
                $15000/-
              </div>
            </div>
            <p class="card-text pt-3">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <a href="#" class="btn btn-primary">Details</a>
          </div>
        </div>

        <div class="card">
          <img src="/assets/images/image.png" class="card-img-top" alt="...">
          <div class="card-body">
            <div class="row header-info">
              <div class="col">
                <span class="card-title">
                  <h5 class="m-0">Karnataka</h5>
                  <small class="form-text"><img src="/assets/images/calender.png" class="calender-icon"> 26/12/2023</small>
                </span>
              </div>
              <div class="col text-end align-self-end">
                $15000/-
              </div>
            </div>
            <p class="card-text pt-3">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <a href="#" class="btn btn-primary">Details</a>
          </div>
        </div>
        
      </div>

      <div class="row text-center mt-5">
        <h6 style="font-size: 25px !important;">OUR <span style="color: #ED952B;">PACKAGES</span> </h6> 
      </div>

      <div class="card-group gap-5 justify-content-center">
        <div class="card ourpackage-card">
          <div class="card-body">
            <div class="row">
              <div class="col align-self-center">
                <h5 class="card-title m-0" style="color: #FFFFFF;">Karnataka</h5>
              </div>
              <div class="col text-end">
                <a href="#" class="btn btn-primary">Details</a>
              </div>
            </div>            
          </div>
        </div>

        <div class="card ourpackage-card">
          <div class="card-body">
            <div class="row">
              <div class="col align-self-center">
                <h5 class="card-title m-0" style="color: #FFFFFF;">Karnataka</h5>
              </div>
              <div class="col text-end">
                <a href="#" class="btn btn-primary">Details</a>
              </div>
            </div>            
          </div>
        </div>

        <div class="card ourpackage-card">
          <div class="card-body">
            <div class="row">
              <div class="col align-self-center">
                <h5 class="card-title m-0" style="color: #FFFFFF;">Karnataka</h5>
              </div>
              <div class="col text-end">
                <a href="#" class="btn btn-primary">Details</a>
              </div>
            </div>            
          </div>
        </div>
      
        <div class="card ourpackage-card">
          <div class="card-body">
            <div class="row">
              <div class="col align-self-center">
                <h5 class="card-title m-0" style="color: #FFFFFF;">Karnataka</h5>
              </div>
              <div class="col text-end">
                <a href="#" class="btn btn-primary">Details</a>
              </div>
            </div>            
          </div>
        </div>
        
        <div class="card ourpackage-card">
          <div class="card-body">
            <div class="row">
              <div class="col align-self-center">
                <h5 class="card-title m-0" style="color: #FFFFFF;">Karnataka</h5>
              </div>
              <div class="col text-end">
                <a href="#" class="btn btn-primary">Details</a>
              </div>
            </div>            
          </div>
        </div>
      </div>
  </div>
</section>